<div id="parallax">
    <section>
      <div class="title">
        <button class="cerrar">Cerrar Sesión</button>
        <h3>NotesApp</h3>
        <H1>Mi To-do List</H1>
      </div> </section> <section>
      <div class="parallax-one"></div>
    </section>
    <section>
      <div class="block">
        <div class="container">
          <div class="flex">
            <input type="text" id="task" placeholder="Enter task" #InputTarea>
            <button class="boton" (click)="crearTodo()">Submit</button>
          </div>
          <app-tasklist [todos]=todos></app-tasklist>
        </div>
  
      </div>
    </section>
  
  </div>
  